/*.~ export-ignore
/*~ export-ignore
/.git export-ignore
/.git/* export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.github/* export-ignore
/.gitignore export-ignore
/.travis-debug export-ignore
/.travis.yml export-ignore
/contrib export-ignore
/contrib/* export-ignore
/doc/deprecated export-ignore
/doc/deprecated/* export-ignore
/doc/design-notes export-ignore
/doc/design-notes/* export-ignore
/doc/presentation export-ignore
/doc/presentation/* export-ignore
/packaging export-ignore
/packaging/* export-ignore
