APScheduler==2.0.3
BeautifulSoup==3.2.1
Brlapi==0.5.6
Jinja2==2.6
M2Crypto==0.21.1
Magic-file-extensions==0.2
Paste==1.7.5.1
Pygments==1.5
Pymacs==0.25
argparse==1.2.1
bzr==2.5.1
cupshelpers==1.0
distribute==0.6.35
docmanager==1.0
## FIXME: could not find svn URL in dependency_links for this package:
flup==1.0.3.dev-20110405
fuzzywuzzy==0.1
httplib2==0.8
ipdb==0.6
ipython==0.13.1
keyring==1.2.2
lettuce==0.2.15
louis==2.4.1
lxml==3.1.2
mercurial==2.5.4
numpy==1.7.0
optcomplete==1.2-devel
osc==0.139
psycopg2==2.4.5
py2pack==0.4.1.1
pyOpenSSL==0.13
pycups==1.9.61
pycurl==7.19.0
pyflakes==0.5.0
pygame==1.9.1release
pysmbc==1.0.13
pysqlite==2.6.3
python-fontforge==1.0
python-openid==2.2.5
pyudev==0.16.1
pyxdg==0.19
pyzmq==13.0.0
rope==0.9.4
ropemacs==0.7
ropemode==0.2
simplejson==3.1.3
synaptiks==0.8.1
tornado==3.0.1
urlgrabber==3.9.1
vboxapi==1.0
vboxgtk==0.8.0
virtinst==0.600.3
virtualenv==1.9.1
web.py==0.37
wsgiref==0.1.2
