
body
{
  font-family: "DejaVu",sans;
  font-weight: normal;
}

.book .titlepage .title
{
  text-align: center;
}

.chapter .titlepage .title,
.sect1   .titlepage .title
{
  margin-bottom:-.25em;
  padding-bottom:-.25em;
}

.part .titlepage .title
{
  text-align: center;
}

.tip .title
{
  margin-bottom:-.5em;
  padding-bottom:-.5em;
}

.keycap
{
  color:white;
  background-color:gray;
  padding-left: 1pt;
  padding-right: 1pt;
}


p
{
  font-weight: normal;
}