Source: daps
Section: text
Priority: optional
Maintainer: Haug Bürger <haug.buerger@zalando.de>
Build-Depends: autotools-dev,
               bash (>=4),
               debhelper (>=9),
               dia,
               dh-autoreconf,
               docbook,
               docbook-xml,
               docbook-xsl (>=1.7.8),
               ghostscript,
               imagemagick,
               libxml2-utils,
               make,
               poppler-utils,
               python-libxml2,
               python-lxml,
               xml-core,
               xmlstarlet,
               xsltproc
Standards-Version: 3.9.6
Homepage: http://opensuse.github.io/daps
Vcs-Git: https://github.com/openSUSE/daps.git
Vcs-Browser: https://github.com/openSUSE/daps

Package: daps
Architecture: all
Depends: bash (>=4),
         bzip2,
         docbook,
         docbook-xml,
         docbook-xsl (>=1.7.8),
         fop (>= 0.96),
         imagemagick,
         rsvg-convert,
         libxml2-utils,
         libxml-commons-external-java,
         libxmlgraphics-commons-java,
         make,
         poppler-utils,
         python-libxml2,
         python-lxml,
         sgml-base,
         sgml-data,
         w3m,
         xml-core,
         xmlstarlet,
         xsltproc,
         zip,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: aspell,
            docbook5-xml,
            docbook-xsl-ns,
            jing
Suggests: aspell-en,
          calibre,
          checkbot,
          epubcheck,
          dia,
          optipng,
          xmlformat-perl
Description: DocBook Authoring and Publishing Suite (DAPS)
 DAPS contains a set of stylesheets, scripts and makefiles that enable
 you to create HTML, PDF, EPUB and other formats from DocBook XML with a
 single command. It also contains tools to generate profiled source
 tarballs for distributing your XML sources for translation or review.
 .
 DAPS also includes tools that assist you when writing DocBook XML:
 linkchecker, validator, spellchecker, editor macros and stylesheets for
 converting DocBook XML.
 .
 DAPS is the successor of susedoc. See
 /usr/share/doc/packages/daps/README.upgrade_from_susedoc_4.x
 for upgrade instructions.
