/* Reset everything */
@import url("reset.css");

/*
Use fonts from Google (for now): http://www.google.com/webfonts#UsePlace:use/Collection:Open+Sans
For additional support for Vietnamese, add "vietnamese," after "&subset=".
Additional available weights are Book ("300,300italic"), Semi-bold ("500, 500italic"), and Extra-bold ("800,800italic").
Consider page load time.
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,400italic&subset=latin,cyrillic-ext);


/* PAGE BOILERPLATE AND NAVIGATION */

/* Common */

.clearme {
    clear: both;
    width: 100%;
    height: 0;
}

::selection, ::-moz-selection { /* Green Selections */
    background: #439539;
    color: #FFF;
}


body {
    background-color: #FFF;
    font-family: Open Sans, Helvetica, FreeSans, sans-serif;
    line-height: 140%;
}

html, body {
    height: 100%;
    min-width: 400px;
}

#_header, #_footer, #_toolbar, .chapter {
    margin: 0 auto;
    min-width: 400px;
    max-width: 998px;
    padding: 0 10px;
}

/* to be able to position various elements and be able to use z-index*/
#_header, #_content, #_white-bg, #_inward, #_footer, .figure {
    position: relative; 
}

#_content {
    background: url(style_images/dots-gray.png) repeat-x scroll 0px 0px;
    min-height: 139px;
    clear: both;
    min-width: 440px;
}

#_white-bg {
    background-color: #FFF;
    width: 100%;
    z-index: 5;
    min-width: 440px;
}

.chapter {
    z-index: 0;
}

/* Header Area */

#_logo {
    float: left;
    margin: 22px 22px 22px 5px;
}

#_header .crumbs {
    position: absolute;
    top: 33px;
    left: 130px;
    height: 36px;
    overflow: hidden;
}

.crumbs a, .crumbs span {
    display: block;
    float: left;
}

#_fixed-header .crumbs {
    padding: 0 10px;
}

#_header .crumbs a, #_header .crumbs span {
    margin: 0 0 0 5px;
    font-size: 15px;
    line-height: 36px;
    height: 36px;
}


.crumbs span {
    color: #666;
}

.crumbs a {
    color: #333;
    text-decoration: none;
}

.crumbs a:hover, .crumbs a:focus, .crumbs a:active {
    color: #439539;
    text-decoration: none;
}

.book-icon, .toc-icon, .find-icon, .tools-icon {
    display: block;
}

#_header .book-icon {
    background: url(style_images/icons.png) no-repeat scroll 0px 0px;
}

#_header .book-icon:hover, #header .book-icon:focus, #header .book-icon:active {
    background-position: 0px -36px;
}

#_fixed-header .book-icon {
    background: url(style_images/icons.png) no-repeat scroll 0px -72px;
    margin: 1px 0;
    width: 18px;
    height: 15px;
}

#_fixed-header .book-icon:hover, #fixed-header .book-icon:focus, #fixed-header .book-icon:active {
    background: url(style_images/icons.png) no-repeat scroll -18px -72px;
}

/* Toolbar */

#_toolbar {
    padding: 22px 0 0;/*
    width: 100%;*/
}

#_toolbar a {
    text-decoration: none;
    display: block;
    float: left;
    margin-right: 10px;
}

#_toolbar > div {
    float: left;
    height: 80px;
}

#_toolbar .inactive {
    width: 25%;
}

#_toolbar .inactive {
    width: 20%;
}

#_toolbar .search-area {
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
}

.toc-icon, .find-icon, .tools-icon, #_header .book-icon {
    width: 36px;
    height: 36px;
}

.toc-icon {
    background: url(style_images/icons.png) no-repeat scroll -36px 0px;
}


.toc-icon:hover, .toc-icon:focus, .toc-icon:active {
    background-position: -36px -36px;
}

.find-icon {
    background: url(style_images/icons.png) no-repeat scroll -72px 0px;
}


.find-icon:hover, .find-icon:focus, .find-icon:active {
    background-position: -72px -36px;
}

.tools-icon {
    background: url(style_images/icons.png) no-repeat scroll -108px 0px;
}


.tools-icon:hover, .tools-icon:focus, .tools-icon:active {
    background-position: -108px -36px;
}

/* Smaller, fixed header */

#_fixed-header-wrap {
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 5px 5px #FFF;
    border-bottom: 1px solid #CCC;
    background-color: #EFEFF0;
    padding: 3px 0;
    line-height: 100%;
}

#_fixed-header {
    max-width: 1018px;
    min-width: 380px;
    display: block;
    width: 100%;
    font-size: 12px;
    margin: 0 auto;
}

.top-button {
    display: block;
    float: right;
    margin: 0 10px;
    background-color: #439539;
    padding: 1px 5px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
}

/* Footer and associated madness, see: http://ryanfait.com/resources/footer-stick-to-bottom-of-page/ */
#_inward, #_footer-wrap {
    height: 80px;
}

#_inward {
    z-index: -1;
}

#_footer-wrap {
    width: 100%;
    overflow: hidden;
    background-color: #EFEFF0;
    
}

#_outer-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -80px;
}

/* Footer contents */

#_footer {
    font-family: Helvetica, FreeSans, sans-serif;
    z-index: 2; /* Else, #_inward overlays the footer */
}

#_footer li, #_footer p {
    display: block;
    float: left;
    line-height: 80px;
    margin: 0 30px 0 0;
    font-size: 12px;
}

#_footer a {
    text-decoration: none;
    color: #666;
}

#_footer a:hover, #_footer a:focus, #_footer a:active {
    text-decoration: underline;
    color: #76AD2D;
}

#_footer p {
    color: #333;
}

#_suse_phone {
    margin: 0 !important;
    float: right !important;
}


/* .CHAPTER AREA */

.chapter {
    margin-bottom: 75px;
}

.nav-buttons {
    float: right;
    width: 50px;
    margin: 33px 0 0 20px;
}


.nav-buttons a {
    display: inline;
    text-decoration: none;
    font-size: 20px;
    line-height: 28px;
    color: #999;
}
.nav-buttons a:hover, .nav-buttons a:focus,.nav-buttons a:active {
    color: #439539;
}

.nav-buttons a:first-child {
    margin-right: 10px;
}

.chapter .title {
    font-size: 28px;
    font-weight: normal;
    padding: 40px 0 5px;
}

.sect1 .title {
    font-size: 24px;
    font-weight: normal;
    padding: 50px 0 5px;
}

.sect2 .title {
    font-size: 20px;
    font-weight: normal;
    padding: 40px 0 0;
}

.sect3 .title {
    font-size: 15px;
    font-weight: bold;
    padding: 30px 0 0;
}

.name {
    color: #439539;
}

a:hover .name, a:focus .name, a:active .name {
    text-decoration: underline;
}

.number {
    color: #666;
}

.permalink {
    opacity: 0;
    font-size: 75%;
    text-decoration: none;
    color: #999;
    font-weight: normal;
    line-height: 100%;
    transition: opacity 0.2s ease-in-out 0.1s;
    /* Clean the below up in Q3 2013 or so... */
    -moz-transition: opacity 0.2s ease-in-out 0.1s;
    -webkit-transition: opacity 0.2s ease-in-out 0.1s
}

.permalink:hover, .permalink:focus, .permalink:active {
    color: #439539;
}

/* Do I actually care if it's in .title/.subtitle? Would just :hover or *:hover make sense? */
.title:hover .permalink, .title:focus .permalink, .title:active .permalink,
.subtitle:hover .permalink, .subtitle:focus .permalink, .subtitle:active .permalink {
    opacity: 1;
}

.page-toc {
    padding: 17px;
}

.line {
    margin: 0 0 36px 0;
    border-bottom: 1px solid #439539;
    width: 100%;
}

.page-toc a {
        text-decoration: none;
}

.page-toc a:hover .chapter, .page-toc a:focus .chapter, .page-toc a:active .chapter {
    text-decoration: underline !important;
}


/* Thou shalt not ... */

.admonition {
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    padding: 10px;
    margin: 17px 0;
    background-color: #FFF;
}

.tip {
    border-color: #439539;
    background: url(style_images/dots-green.png) repeat-x scroll top;
}

.note {
    border-color: #333;
    background: url(style_images/dots-yellow.png) repeat-x scroll top;
}

.important {
    border-color: #BB7B03;
    background: url(style_images/dots-orange.png) repeat-x scroll top;
}

.warning, .caution {
    border-color: #8C0000;
    background: url(style_images/dots-red.png) repeat-x scroll top;
}

.admonition h6 {
    font-size: 15px;
    font-weight: bold;
    vertical-align: middle;
    display: table-cell;
    height: 36px;
}

.tip h6 {
    color: #439539;
}

.note h6 {
    color: #333;
}

.important h6 {
    color: #BB7B03;
}

.warning h6, .caution h6 {
    color: #8C0000;
}

.symbol {
    width: 36px;
    height: 36px;
    margin: 0 10px 0 0;
    background-image: url(style_images/icons.png);
    background-repeat: no-repeat;
    float: left;
}

.tip .symbol {
    background-position: -216px 0px;
}

.note .symbol {
     background-position: -216px -36px;
}

.important .symbol {
    background-position: -252px 0px;
}

.warning .symbol, .caution .symbol {
    background-position: -252px -36px;
}

.admonition p {
    margin: 10px 0 0 0 !important;
}

/* Text styles */

em, i, .guimenu {
    font-style: italic;
}

em .guimenu, i .guimenu {
    font-style: normal; /* Don't use italics within italics... */
}

strong, b {
    font-weight: bold;
}

p {
    font-size: 15px;
    color: #000;
    text-align: left;
    margin: 10px 0 0;
}

.abstract {
    font-weight: bold;
    color: #333;
}

p a {
    color: #439539;
    text-decoration: none;
}

p a:hover, p a:focus, p a:active {
    color: #439539;
    text-decoration: underline;
}

code, .command {
    font: normal 120% FreeMono, "Droid Sans Mono", monospace;
    padding: 1px 5px;
    border-radius: 3px;
    /* There might be code or commands within links. The following doesn't help, however. */
    text-decoration: none !important;
}

code {
    background-color: #EFEFF0;
    color: #333;
}

.command {
    background-color: #EFEFF0;
    color: #333;
    font-weight: bold;
}

.screen-wrap { /* Else the scrollbar overlays the rounded corners and the padding isn't always consistent if there's a scrollbar */
    padding: 10px;
    background-color: #202020;
    border-radius: 5px;
    margin: 10px 0 0;
}

.screen {
    font: normal 13px FreeMono, "Droid Sans Mono", monospace;
    color: #FFF;
    line-height: 125%;
    display: block;  
    overflow: auto;
}

.screen code , .screen .command {
    border-radius: 0;
    background-color: transparent;
    width: 100% !important;
    font-size: 100%;
}

.screen code {
    color: #FFF;
}

.screen .command {
    color: #76AD2D;
}

.variablelist {
    margin: 17px 0;
    font-size: 15px;
}

.variablelist dt {
    font-weight: bold;
    color: #333;
}

.variablelist dd {
    margin: 0 0 10px 0;
    padding: 0 0 0 30px;
}

.variablelist dd p {
    margin: 0;
}

.figure {
    max-width: 100%;
    min-height: 60px;
    text-align: center;
    color: #999;
    margin: 17px 0 7px;
    border: 1px solid rgb(32,32,32);
}

.figure img {
    background-color: #FFF;
    max-width: 100%;
    display: block; /* inline images weirdly have some whitspace below them, thus block'ing */
}

.figure .title {
    padding: 10px;
    margin: 0;
    font-size: 13px;
    text-transform: uppercase;
    color: #FFF !important;
    font-weight: normal;
}

.figure .title-wrap {
    background-color: rgba(32,32,32,1);
    width: 100%;
    overflow: hidden;
}

.figure a {
    height: 0;
    width: 0;
}

.figure .number, .figure .permalink:hover,  .figure .permalink:focus,  .figure .permalink:active {
    color: #76AD2D;
    text-decoration: none;
}

.figure .name, .figure .permalink {
    color: #FFF;
}

.informalfigure img {
    max-width: 100%;
    display: block; /* inline images weirdly have some whitespace below them, thus block'ing */
    text-align: center;
    color: #999;
    margin: 17px 0 0;
}

.keycap {
    color: #333;
    font-size: 13px;
    padding: 0px 5px;
    background-color: #EFEFF0;
    border-radius: 3px;
    border-width: 1px 2px 2px 1px;
    border-color: #999;
    border-style: solid;
}

/* We put an ndash character between keycaps that are part of an accelerator */
.key-connector {
    margin: 0 -1px; 
    color: #666;
}

.procedure .title {
    font-size: 13px;
    font-weight: normal;
    margin: 0 10px;
    padding: 0 0 5px;
    text-transform: uppercase;
}

.procedure .title code, .procedure .title .command, .procedure .title .keycap {
    text-transform: none;
}

div.procedure {
    font-size: 15px;
    border-left: 3px solid rgba(67,149,57,0.5);
    font-weight: normal;
    margin: 17px 0 17px;
    padding: 5px 5px 5px 2px; /* -3px of border on the left, so it sits right there with the other list etc. */
    background-color: #f7faf6;
    display: block;
}

ol.procedure, ol.substeps {
    padding: 0 0 0 20px;
    margin: 0 10px 0 10px;
    display: block;
    color: #439539;
    font-weight: bold;
}

ol.procedure {
    list-style-type: decimal;
}

ol.substeps {
    list-style-type: lower-latin;
}

.procedure li:first-child p {
    margin: 0;
}

.chapter ul {
    padding: 5px 0 5px 25px;
    margin: 0 10px 0 10px;
    display: block;
    color: #439539;
    list-style-type: bullet;
}  

.procedure li p {
    font-weight: normal;
}

.procedure > p {
    margin: 0 10px 5px;
}

