body {
    background-color: #FFF;
    font-family: Open Sans, sans-serif;
    margin: 0;
}

#header, .chapter, #footer {
    margin: 0 auto;
    min-width: 500px;
    max-width: 1018px;
    padding: 0 10px;
}

#header {
    position: relative; /* to be able to position the lucky charms(TM) absolutely*/
}

#bg-positioner {
    background: url(style_images/dots-gray.png) repeat-x scroll top;
    min-height: 139px;
    clear: both;
    position: relative;
    min-width: 520px;
}

.clearme {
    clear: both;
    width: 100%;
    height: 0;
}

#whiten {
    background-color: #FFF;
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 5;
}

.chapter {
    z-index: 0;
}

/* Greener Selection Color */

::selection {
    background: #00A54F;
    color: #FFF;
}
::-moz-selection {
    background: #00A54F;
    color: #FFF;
}

/* Header Area */

#logo {
    float: left;
    padding: 22px 22px 22px 0;
    position: relative;
}

#header .crumbs {
    position: absolute;
    top: 33px;
    left: 130px;
    height: 36px;
    overflow: hidden;
}

.crumbs a, .crumbs span {
    display: block;
    float: left;
}

#fixed-header .crumbs {
    padding: 0 10px;
}

#header .crumbs a, #header .crumbs span {
    height: 36px !important;
    display: block;
    vertical-align: middle;
    padding-left: 5px;
    font-size: 15px;
    line-height: 36px;
}


.crumbs span {
    color: #B9B9B9;
}

.crumbs a {
    color: #464547;
    text-decoration: none;
}

.crumbs a:hover {
    color: #00843E;
    text-decoration: none;
}

#header .book-icon {
    background: url(style_images/icons.png) no-repeat scroll 0px 0px;
    margin: 0;
    width: 36px;
    height: 36px;
}


#header .book-icon:hover {
    background: url(style_images/icons.png) no-repeat scroll 0px -36px;
    margin: 0;
}

#fixed-header .book-icon {
    background: url(style_images/icons.png) no-repeat scroll 0px -72px;
    margin: 1px 0;
    width: 18px;
    height: 15px;
}

#fixed-header .book-icon:hover {
    background: url(style_images/icons.png) no-repeat scroll -18px -72px;
}

#lucky-charms {
    position: absolute;
    top: 33px;
    right: 0px;
    background-color: #FFF;
    box-shadow: -5px 0 5px #FFF;
    padding-left: 17px;
}

#lucky-charms a {
    text-decoration: none;
    display: block;
    float: left;
    margin-right: 10px;
}

.toc-icon {
    background: url(style_images/icons.png) no-repeat scroll -36px 0px;
    margin: 0;
    width: 36px;
    height: 36px;
}


.toc-icon:hover {
    background: url(style_images/icons.png) no-repeat scroll -36px -36px;
    margin: 0;
}

.find-icon {
    background: url(style_images/icons.png) no-repeat scroll -72px 0px;
    margin: 0;
    width: 36px;
    height: 36px;
}


.find-icon:hover {
    background: url(style_images/icons.png) no-repeat scroll -72px -36px;
    margin: 0;
}

.tools-icon {
    background: url(style_images/icons.png) no-repeat scroll -108px 0px;
    margin: 0;
    width: 36px;
    height: 36px;
}


.tools-icon:hover {
    background: url(style_images/icons.png) no-repeat scroll -108px -36px;
    margin: 0;
}

/* Smaller, fixed header */

#fixed-header-wrap {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 5px 5px #FFF;
    border-bottom: 1px solid #CCC;
    background-color: #EFEFF0;
}

#fixed-header {
    max-width: 1038px;
    min-width: 480px;
    display: block;
    width: 100%;
    font-size: 12px;
    margin: 0 auto;
}

.top-button {
    display: block;
    float: right;
    margin: 0 10px;
    background-color: #00843E;
    padding: 0 5px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

/* Content Area */

.nav-buttons {
    float: right;
    margin-top: 17px;
    width: 50px;
    margin-left: 19px;
}


.nav-buttons a {
    display: inline;
    margin: 0;
    text-decoration: none;
    font-size: 20px;
    line-height: 28px;
    color: #B9B9B9;
}
.nav-buttons a:hover {
    color: #00843E;
}

.nav-buttons a:first-child {
    margin-right: 10px;
}

.chapter .title {
    font-size: 28px;
    font-weight: normal;
    padding: 10px 0 0 0;
    margin: 0;
}

.sect1 .title {
    font-size: 24px;
    font-weight: normal;
    padding: 10px 0 0 0;
    margin: 0;
}

.sect2 .title {
    /* tbc ...*/
    font-size: 24px;
    font-weight: normal;
    padding: 10px 0 0 0;
    margin: 0;
}

.chapter .name {
    color: #00843E;
}

.number {
    color: #b9b9b9;
}

.permalink {
    display: none;
    font-size: 75%;
    text-decoration: none;
    color: #B9B9B9;
}

.permalink:hover {
    color: #00843E;
}

.title:hover .permalink, .subtitle:hover .permalink {
    display: inline;
}

.page-toc {
    padding: 17px;
    margin: 0;
}

.line {
    margin: 0 0 36px 0;
    padding: 0;
    border-bottom: 1px solid #00843E;
    width: 100%;
}

.page-toc a {
        text-decoration: none;
}

.page-toc a:hover .chapter {
    text-decoration: underline !important;
}


/* Thou shalt not ... */

.admonition {
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    padding: 10px;
    margin-bottom: 17px;
}

.tip {
    border-color: #00843E;
    background: url(style_images/dots-green.png) repeat-x scroll top;
}

.note {
    border-color: #2E3436;
    background: url(style_images/dots-yellow.png) repeat-x scroll top;
}

.important {
    border-color: #E35001;
    background: url(style_images/dots-orange.png) repeat-x scroll top;
}

.warning, .caution {
    border-color: #8C0000;
    background: url(style_images/dots-red.png) repeat-x scroll top;
}

.admonition h6 {
    font-size: 15px;
    font-weight: bold;
    vertical-align: middle;
    display: table-cell;
    height: 36px;
}

.tip h6 {
    color: #00843E;
}

.note h6 {
    color: #2E3436;
}

.important h6 {
    color: #E35001;
}

.warning h6, .caution h6 {
    color: #8C0000;
}

.symbol {
    width: 36px;
    height: 36px;
    margin: 0 10px 0 0;
    padding: 0;
    background-image: url(style_images/icons.png);
    background-repeat: no-repeat;
    float: left;
}

.tip .symbol {
    background-position: -144px 0px;
}

.note .symbol {
     background-position: -144px -36px;
}

.important .symbol {
    background-position: -180px 0px;
}

.warning .symbol, .caution .symbol {
    background-position: -180px -36px;
}

/* Text styles */

em, i, .guimenu {
    font-style: italic;
}

em .guimenu, i .guimenu {
    font-style: normal; /* Don't use italics within italics... */
}

strong, b {
    font-weight: bold;
}

.chapter p {
    font-size: 15px;
    color: #000;
    text-align: left;
    line-height: 150%;
}

.chapter .abstract {
    font-weight: bold;
    color: #464547;
}

.chapter p a {
    color: #00843E;
    text-decoration: none;
}

.chapter p a:hover {
    color: #00843E;
    text-decoration: underline;
}

code, .command {
    font: normal 15px "Droid Sans Mono", monospace;
    padding: 2px;
    border-radius: 3px;
}

code {
    background-color: #EFEFF0;
    color: #464547;
}

.command {
    background-color: #EFEFF0;
    color: #464547;
    font-weight: bold;
}

.variablelist {
    margin: 17px 0;
    line-height: 125%;
    font-size: 15px;
}

.variablelist p {
   line-height: 130%;
   margin: 0;
   padding: 0;
}

.variablelist dt {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.variablelist dd {
    margin: 0 0 17px 0;
    padding: 0 0 0 24px;
}

/*dl.variablelist {
    margin: 0 0 17px 0;
}*/

/* Footer and associated madness, see: http://ryanfait.com/resources/footer-stick-to-bottom-of-page/ */

html, body {
    height: 100%;
}

#inward, #footerwrap {
    height: 100px;
}

#footerwrap {
    width: 100%;
    overflow: hidden;
    background-color: #EFEFF0;
    
}

#outerwrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
}
