@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: url('opensans.woff') format('woff'),
       url('opensans.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: italic;
  src: url('opensans-italic.woff') format('woff'),
       url('opensans-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: url('opensans-semibold.woff') format('woff'),
       url('opensans-semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: italic;
  src: url('opensans-semibolditalic.woff') format('woff'),
       url('opensans-semibolditalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url('opensans-semibold.woff') format('woff'),
       url('opensans-semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: italic;
  src: url('opensans-semibolditalic.woff') format('woff'),
       url('opensans-semibolditalic.ttf') format('truetype');
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  font-weight: normal;
  font-style: normal;
  src: url('dejavusansmono.woff') format('woff'),
       url('dejavusansmono.ttf') format('truetype');
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  font-weight: 600;
  font-style: normal;
  src: url('dejavusansmono-bold.woff') format('woff'),
       url('dejavusansmono-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  font-weight: 700;
  font-style: normal;
  src: url('dejavusansmono-bold.woff') format('woff'),
       url('dejavusansmono-bold.ttf') format('truetype');
}
