@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/opensans.otf');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: italic;
  src: url('../fonts/opensans-italic.otf');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/opensans-semibold.otf');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: italic;
  src: url('../fonts/opensans-semibolditalic.otf');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/opensans-semibold.otf');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/opensans-semibolditalic.otf');
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/dejavusansmono.otf');
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/dejavusansmono-bold.otf');
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/dejavusansmono-bold.otf');
}
